.iniciobtn {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background: rgba(209, 64, 64, 0.432);
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px;
}

.iniciobtn:hover {
    background-color: white;
    color: rgba(209, 64, 64);
}